.user_data_post {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 5px solid rgb(27, 26, 27);
  width: 100%;
  height: 240px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 38px;
  padding-right: 38px;
  border-radius: 8px;
}

.post-comment {
  display: flex;
  justify-content: right;
}

.user_data_post > p {
  align-self: flex-end;
}

.comments {
  display: flex;
  flex-direction: column;
  border: 5px solid rgb(27, 26, 27);
  width: 85%;
  height: 240px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 38px;
  padding-right: 38px;
  border-radius: 8px;
  margin: 0 auto;
}

.comment-c {
  width: 100%;
}

.comment-c > textarea {
  width: 80%;
  height: 85px;
}

.post-form-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-title-c {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
