.user-posts {
  display: grid;
  justify-content: center;
  margin: 20px auto;
  max-width: 40rem;
}

.posts {
  padding: 0;
  margin-bottom: 0;
}

.post-link {
  color: black;
}

.recent-comms {
  list-style-type: none;
  padding: 0;
  border: 1px solid black;
  margin-top: 2px;
}

.comment {
  padding-left: 1rem;
}

.post_contain {
  display: grid;
  justify-content: center;
  margin: 20px 0;
}

.whole-post {
  border: 1px solid black;
  width: 50rem;
  min-height: 25rem;
}

.post_header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.post_header h3 {
  margin-top: 0;
}

.whole-post p {
  padding: 5px;
}

.comments-likes {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
}

.comments-likes p {
  margin: 5px 5px 0 5px;
}

.comments-likes .button {
  font-size: 12px;
}

.all-comms {
  border: 1px solid black;
  min-height: 20rem;
  padding: 10px;
}

.new-post {
  display: grid;
  justify-content: center;
  width: auto;
}

.create-post {
  text-align: center;
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-box,
.text-box-contain {
  display: flex;
  margin-top: 2rem;
  width: 30rem;
  align-items: center;
}

.title-box input {
  width: 20rem;
  height: 2rem;
  margin-left: 1rem;
}

.text-box {
  width: 30rem;
}

.post-form .button {
  margin-top: 2rem;
}

.comment-contain {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.comment-contain .button {
  width: 20%;
  margin: 2rem auto;
}